<br><br><br>
<div class="container-fluid">
    <div class="row">
        <h1>Creation d'un contact</h1>
    </div> <br>

    <div class="row">
        <div class="card " style="text-align:left;">
            <div class="card-header bg-info text-white">
                Informations du contact
            </div>
            <div class="card-body">

                <table cellspacing="0">
                    <tr>
                        <td>
                            <form>
                                <mat-label>Nom </mat-label><br>
                                <input name="firstname" placeholder="Ex. Dupont" [(ngModel)]="firstname">
                            </form>
                        </td>
                        <td><form >
                            <mat-label>Prenom</mat-label><br>
                            <input name="lastname" placeholder="Ex. Dupont" [(ngModel)]="lastname">
                        </form></td>
                    </tr></table>
                <br>

                <form class="example-full-width">
                    <mat-label>Email</mat-label><br>
                    <input name="email" placeholder="Ex. dupont@gmail.com" [(ngModel)]="email">
                </form>
                <br><br>

                <table cellspacing="0"><tr>
                    <td><form>
                        <mat-label>Portable</mat-label><br>
                        <input  name="phone" placeholder="Ex. 0607080910" [(ngModel)]="cellphone">
                    </form></td>
                    <td><form>
                        <mat-label>Fixe</mat-label><br>
                        <input name="cellphone" placeholder="Ex. 0102030405" [(ngModel)]="phone">
                    </form></td>
                </tr></table>
                <br>

                <form>
                    <mat-label>Adresse</mat-label><br>
                    <input name="street" placeholder="Ex. Avenue St Auguste" [(ngModel)]="street">
                </form>
                <br><br>

                <table class="example-full-width" cellspacing="0"><tr>
                    <td><form class="example-full-width">
                        <mat-label>Ville</mat-label><br>
                        <input name="city" placeholder="Ex. Nanterre" [(ngModel)]="city">
                    </form></td>
                    <td><form class="example-full-width">
                        <mat-label>Code Postale</mat-label><br>
                        <input  name="zip" maxlength="5" placeholder="Ex. 92000" [(ngModel)]="zip">
                    </form></td>
                    <td><form class="example-full-width">
                        <mat-label>Pays</mat-label><br>
                        <input  name="country"  placeholder="Ex. France" [(ngModel)]="country">
                    </form></td>
                </tr></table>

            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="btn btn-primary" (click)="createContact()">Valider</button>
                </div>
            </div> <br>
        </div>
    </div><br>

</div>
