<br><br><br>
<div class="content-spacing">

    <h3> Liste des groupes </h3> <br>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="showCreateView()">Créer Groupe</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="changeIsAddContact()">Ajouter contact à un groupe</button>
        </div>
    </div> <br>

    <div class="row" *ngIf="hideCreateView==false">
        <div class="card " style="text-align:left;">
            <div class="card-header bg-info text-white">
                Créer Groupe
            </div>
            <div class="card-body">
                <div class="row">
                    <form class="example-full-width">
                        <mat-label>Nom </mat-label><br>
                        <input name="groupname" [(ngModel)]="groupname">
                    </form>
                    <br><br>
                </div><br>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary" (click)="createGroup()"> Valider </button>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="row" *ngIf="hideView==false">
        <div class="card " style="text-align:left;">
            <div class="card-header bg-info text-white">
                Ajout d'un contact à un groupe
            </div>
            <div class="card-body">
                <div class="row">
                    <form>
                        <label>Selectionnez un groupe </label>
                        <select name="grp"  [(ngModel)]="selectedGroup.idGroup" matNativeControl>
                            <option *ngFor="let g of groups" name="g.groupName" [value]="g.idGroup" ngDefaultControl>
                                {{g.groupName}}
                            </option>
                        </select>
                    </form>
                </div><br>
                <div class="row">
                    <form>
                        <label>Selectionnez un contact </label>
                        <select name="ctc"  [(ngModel)]="selectedContact.idContact" matNativeControl >
                            <option *ngFor="let c of contacts"  name="c.firstname" [value]="c.idContact" ngDefaultControl>
                                {{c.firstname}}
                            </option>
                        </select>
                    </form>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary" (click)="addContactToGroup()"> Valider </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

    <h3 style="text-align:left;"> Groupes </h3> <br>

    <div class="row">
        <!-- <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchGroup" placeholder="Search" />
        </div> -->
        <!-- <table class="table table-striped table-hover" matSort (matSortChange)="sortData($event)" *ngIf="(sortedData | filter : searchGroup).length > 0"> -->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of groups">
                <td>{{g.idGroup}}</td>
                <td>{{g.groupName}}</td>
                <td>
                    <button class="btn btn-primary" (click)="showGroupContacts(g)">Contacts</button>
                    <button class="btn btn-warning" (click)="updateGroup(g)">Modifier</button>
                    <button class="btn btn-danger" (click)="deleteGroup(g)">Suppr</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <br>
            <div class="text-center">
                <jw-pagination [items]="groups" [pageSize]="10" (changePage)="onChangePage($event)"> </jw-pagination>
            </div>
            </tfoot>
        </table>
    </div><br><br>
</div>
    